.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid;

  .button-add-hero {
    position: absolute;
    left: 20px;
  }

  .logo {
    font-family: "Anton", sans-serif;
    color: #555;
    text-decoration: none;
    font-size: 30px;
    line-height: 1;
  }


}

@media screen and (max-width: 720px) {
  .nav {
    .back-element {
      display: none;
    }
  }

  .button-add-hero{
      position: fixed !important;
      bottom: 80px;
      right: 6px;
      z-index: 99;
      border: 1px solid rgba(232, 232, 232, 0.7);
      outline: none;
      background-color: #ffff;
      cursor: pointer;
      padding: 15px;
      border-radius: 16px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12),
        0px -4px 16px -4px rgba(0, 0, 0, 0.08);
      width: 50px;
      height: 48px;
      left: 80% !important;
  }
}
