.card {
  width: 400px;
  height: 610px;
  border-radius: 12px;
  margin: 10px 50px;
  cursor: pointer;
  .img-hero {
    width: 100%;
    height: 264px;
    border-radius: 12px 12px 0px 0px;
  }

  .desc-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 430px;
    .title {
      font-size: 16px;
      font-weight: 600;
      font-family: sans-serif;
    }

    .description {
      font-size: 14px;
      font-family: serif;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: pre-wrap;
      height: 166px;
    }

    .button-card-container {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 720px) {
  .card {
    width: 74%;
    .img-hero {
      width: 100%;
      height: 150px;
    }
    .desc-container {
      padding: 0px 10px;
    }
  }

  .disp-inline {
    display: inline !important;
  }
}


