<div class="container-all">
  <div class="filter-container">
    <div class="filter-container-radiobtn">
      <h2 class="filter-container-radiobtn-text">
        Selecciona el filtro de busqueda:
      </h2>
      <mat-radio-group (change)="onChangeRadioGroup($event)" [(ngModel)]="hero">
        <mat-radio-button value="id">Id del heroe</mat-radio-button>
        <mat-radio-button value="hero">Nombre del heroe</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="form-field">
      <mat-label>Encuentra tu heroe :D </mat-label>
      <input
        matInput
        type="text"
        [formControl]="searchHero"
        placeholder="A buscar!!"
      />
      <button
        *ngIf="showSearchButton()"
        (click)="filterHeros()"
        matSuffix
        mat-icon-button
        aria-label="Clear"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="container-cards" *ngIf="herosInfo().length > 0; else nada">
    <div *ngFor="let hero of herosInfo()">
      <app-hero-card
        [hero]="hero"
        (clickEvent)="onEmitterHeroCard($event)"
      ></app-hero-card>
    </div>
  </div>
  <div class="paginator">
    <mat-paginator
      [length]="herosLength"
      [pageSize]="4"
      (page)="pageEvent($event)"
    ></mat-paginator>
  </div>
</div>

<ng-template #nada>
  <div class="nothing-template">Ooops.... Nada por aqui! :()</div>
</ng-template>
