<div class="container-all">
  <div class="filter-container">
    <div class="filter-container-radiobtn">
      <h2 class="filter-container-radiobtn-text">
        Selecciona el filtro de busqueda:
      </h2>
      <mat-radio-group (change)="onChangeRadioGroup($event)" [(ngModel)]="hero">
        <mat-radio-button value="id">Id del heroe</mat-radio-button>
        <mat-radio-button value="hero">Nombre del heroe</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="form-field">
      <mat-label>Encuentra tu heroe :D </mat-label>
      <input
        matInput
        type="text"
        [formControl]="searchHero"
        placeholder="A buscar!!"
      />
      <button
        *ngIf="showSearchButton()"
        (click)="filterHeros()"
        matSuffix
        mat-icon-button
        aria-label="Clear"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="container-cards">
    <div *ngFor="let hero of herosInfo()">
      <mat-card class="card">
        <mat-card-content>
          <img class="img-hero" [src]="hero.photo" />
          <div class="desc-container">
            <h1 class="title">{{ hero.name }}</h1>
            <p>id: {{ hero.id }}</p>
            <p class="description">{{ hero.description }}</p>
            <div class="button-card-container">
              <button
                mat-flat-button
                color="primary"
                (click)="openFormDialog('edit', hero)"
              >
                Editar
              </button>
              <button
                mat-flat-button
                color="warn"
                (click)="openDeleteDialog(hero)"
              >
                Eliminar
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="paginator">
    <mat-paginator
      [length]="herosLength"
      [pageSize]="4"
      (page)="pageEvent($event)"
    ></mat-paginator>
  </div>
</div>
